body{
  background-color: silver;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
}

.logo, .title {
  display: inline-block;
}

.logo {
  border: 2px solid rgb(109, 122, 26);
  box-shadow: 1px 1px 3px 1px rgb(109, 122, 26);
  border-radius: 15px;
}

.logo img {
  height: 9rem;
  width: 10rem;
  animation: logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


/* logo animation */
@keyframes logo {
  from {
      transform: rotate(0deg) scale(.2);
    }
  to {
      transform: rotate(360deg) scale(1);
    }
}
/* logo animation */

.header > .title {
  height: 10rem;
  margin: auto;
}

.title h1 {
  font-size: 3rem;
  color: rgb(109, 122, 26);
  transform: translateY(100%);
  animation: h1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.title h4 {
  margin-top: -25px;
  animation: h4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* title animation */
@keyframes h1 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(150%);
  }
  66% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes h4 {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(150%);
  }

  66% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 600px){
  @keyframes h1 {
      0% {
        transform: translateY(0);
      }
  
      33% {
        transform: translateY(35%);
      }
  
      66% {
        transform: translateY(-30%);
      }
  
      100% {
        transform: translateY(0%);
      }
    }
}

/* slide show */
.stage {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.slidewrapper {
  width: 400%;
  height: 100%;
  animation: slideshow 10s infinite;
}


@keyframes slideshow {

  0% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.stage>div>div {
  height: 100%;
  width: 25%;
  text-align: center;
  float: left;
}

.div1 {
  background-color: rgba(215, 164, 54, 0.9);
}

.div2 {
  background-color: rgba(193, 179, 49, 0.9);
}

.div3 {
  background-color: rgba(177, 146, 18, 0.9);
}

.div4 {
  background-color: rgba(201, 156, 5, 0.9);
}

.intro-img {
  width: 100%;
  height: 60rem;
  border-radius: 0 0 10px 10px;
}