body{
  background: rgba(161, 161, 162, 0.44);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
}

.logo, .title {
  display: inline-block;
}

.logo {
  border: 2px solid rgb(109, 122, 26);
  box-shadow: 1px 1px 3px 1px rgb(109, 122, 26);
  border-radius: 15px;
}

.logo img {
  height: 9rem;
  width: 10rem;
  animation: logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


/* logo animation */
@keyframes logo {
  from {
      transform: rotate(0deg) scale(.2);
    }
  to {
      transform: rotate(360deg) scale(1);
    }
}
/* logo animation */

.header > .title {
  height: 10rem;
  margin: auto;
}

.title h1 {
  font-size: 4rem;
  color: rgb(109, 122, 26);
  animation: h1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-family: 'Tangerine', cursive;
}

.title h4 {
  margin-top: -3rem;
  animation: h4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* title animation */
@keyframes h1 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(30%);
  }
  66% {
    transform: translateY(-350%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes h4 {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(0%);
  }

  66% {
    transform: translateY(-550%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 750px){
  @keyframes h1 {
      0% {
        transform: translateY(0);
      }
  
      23% {
        transform: translateY(255%);
      }
  
      66% {
        transform: translateY(-30%);
      }
  
      100% {
        transform: translateY(0%);
      }
    }

  .title > h1 {
    font-size: 3rem;
  }

  .title > h4 {
    margin-top: -2rem;
  }

  @keyframes h4 {
    0% {
      transform: translateY(0);
    }
    
    33% {
      transform: translateY(150%);
    }

    66% {
      transform: translateY(-560%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .logo {
    margin: 0 auto;
  }
}  

@media screen and (max-width: 650px) {
  @keyframes h1 {
    0% {
      transform: translateX(0);
    }

    33% {
      transform: translateX(60%);
    }

    66% {
      transform: translateX(-30%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes h4 {
    0% {
      transform: translateY(0);
    }

    33% {
      transform: translateY(150%);
    }

    66% {
      transform: translateY(-660%);
    }

    100% {
      transform: translateY(0%);
    }
  }
  
  .stage {
    margin-top: 5rem;
  }
}

/* slide show */
.stage {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.slidewrapper {
  width: 400%;
  height: 100%;
  animation: slideshow 10s infinite;
}


@keyframes slideshow {

  0% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.stage > div > div {
  height: 100%;
  width: 25%;
  text-align: center;
  float: left;
  padding-top: .6rem;
}


@media screen and (max-width: 950px) {
  .stage > div >div > p {
      font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
  .stage > div > div > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .stage {
    margin-top: 5rem;
  }
}

.div1 {
  background-color: rgba(215, 164, 54, 0.9);
}

.div2 {
  background-color: rgba(193, 179, 49, 0.9);
}

.div3 {
  background-color: rgba(177, 146, 18, 0.9);
}

.div4 {
  background-color: rgba(201, 156, 5, 0.9);
}

.intro-div {
  position: relative;
}

.intro-img {
  width: 100%;
  height: 60rem;
  border-radius: 0 0 10px 10px;
}

.intro-p {
  position: absolute;
  width: 40%;
  border: 4px solid white;
  padding: 1rem;
  top: 0;
  background-color: silver;
  margin-top: 18rem;
  margin-left: 3rem;
  font-weight: bolder;
}

.grid-parent {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 10%;
}

.grid-parent > .grid-child-img {
  width: 100%;
  height: 23rem;
  background-image: linear-gradient(40deg, rgba(244, 233, 132, 0.238),
  rgba(199, 92, 238, 0.308)), url(./images/intro_img1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 2px solid rgba(243, 243, 54, 0.639);
}

.grid-child-img > .img-text {
  border: 2px solid rgba(212, 227, 83, 0.682);
  color: rgba(255, 255, 255, 0.89);
  text-align: center;
  padding: 2rem;
  margin: 8% 8%;
  width: 50%;
  display: block;
}

.grid-parent > .div2-text {
  background: linear-gradient(40deg, #ed6ce46f, #f7f75a88);
  width: 100%;
  height: 23rem;
  border: 2px solid rgba(218, 76, 243, 0.402);
  color: rgb(109, 122, 26);
}

.grid-parent > .div2-text > h4, p {
  width: 85%;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 5%;
}

.grid-parent > .div2-text > h4 {
  margin-top: 3rem;

}
.grid-parent > .div2-text > p {
  display: block;
}

.lotion-title {
  height: 2rem;
  border-bottom: 2px solid rgb(109, 122, 26);
  margin-top: 10%;
}

@media screen and (max-width: 900px) {
  .lotion-title {
    margin-top: 10rem;
  }
}

.lotion-title-text {
  margin-left: 1rem;
}

.item-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item-parent > div > img {
  height: 80%;
}

.item {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.item > span {
  text-align: center;
}

.item > h4 {
  color: rgb(109, 122, 26);
  margin-top: -20%;
}

.item > h3 {
  margin-top: -10%;
}

.item > span, a {
  margin-bottom: 5%;
}

.item > a {
  background-color: black;
  width: 75%;
  margin-left: 12%;
  padding: 1rem 0;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 3px 3px 0 0 rgba(250, 247, 247, 0.626);
}

.item > a:hover {
  background-color: orange;
  color: black;
  transition: ease-in-out .3s;
  box-shadow: 0 0 3px 3px rgb(239, 97, 46);
  font-weight: bolder;
}

.item-mdl {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(248, 233, 170, 0.37);
  opacity: 0;
  pointer-events: none;
}

.item-mdl:target {
  opacity: 1;
  pointer-events: all;
}

.item-md {
  position: relative;
  background: white;
  margin: auto;
  width: 50%;
  height: 36rem;
  margin-top: 5rem;
}

.item-md > p, a {
  display: inline-block;
  margin-bottom: 2px solid rgb(194, 8, 8);
  width: 100%;
}

.item-md > p {
  text-align: left;
  margin-left: 0;
  border-bottom: 3px solid silver;
  padding-bottom: 1rem;
  width: 80%;
}

.item-md > a {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  text-decoration: none;
  width: 2%;
  padding: 1%;
  font-size: 1em;
  background-color: silver;
}

.item-md > a:hover {
  transform: rotate(360deg);
  transition: ease-in-out .4s;
  background-color: red;
  color: white;
}

.itm-1 > p {
  font-size: 1.2em;
}

.modal-info {
  width: 80%;
  margin: 0 auto;
  height: 20rem;
}

.modal-info > img, p {
  display: inline;
}

.modal-info > p, span {
  display: block;
  text-align: left;
  margin: 5%;
}

.modal-info > img {
  height: 85%;
  width: 45%;
  float: left;
}

.modal-info > p {
  font-size: 1.2em;
}


.modal-info > .bottom {
  margin-bottom: 5%;
  white-space: nowrap;
}

@media screen and (max-width: 1650px) {
  .modal-info>.price, .bottom {
      margin-left: 45%;
    }
}

.modal-btm {
  background: silver;
  padding: 1em;
  height: auto;
  margin-top: -6%;
  margin-bottom: 3rem;
}

.modal-btm > p, a {
  display: block;
  width: 85%;
  text-align: left;
  margin: 0 auto;
}

.modal-btm > p {
  border-bottom: 3px solid white;
  padding-bottom: .5em;
  margin-bottom: .5em;
  font-size: 1.2em;
}

.modal-btm > a {
  text-decoration: none;
  background-color: white;
  width: 11rem;
  padding: 10px;
  text-align: center;
  margin-left: 7.5%;
  color: black;
}

.modal-btm > a:hover {
  background-color: rgba(133, 27, 133, 0.65);
  color: white;
  box-shadow: 0 0 3px 3px rgb(200, 105, 238);
  transition: ease-in-out .2s;
}

.gift-set {
  height: 40rem;
}

.gift-set-info > img {
  padding: 1rem;
  height: 70%;
}

@media screen and (max-width: 950px) {
  .item-md {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .gift-set-info > .gift-set-price {
    margin-left: 55%;
  }
}

footer {
  background-color: black;
  color: white;
  margin-top: 5rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.footer-div {
  width: 90%;
  margin: auto;
}

.table {
  width: 100%;
  border-bottom: 3px solid white;
  padding: 3.5rem 0;
}

.table th {
  width: 25%;
}

.table th {
  padding: 12px 15px;
  text-align: center;
}

.table td {
  text-align: center;
}

td > a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.footer-div > h3 {
  text-align: right;
  margin-top: 3rem;
}

ul {
  width: 97%;
  text-align: right;
  list-style: none;
}

ul > li {
  display: inline-block;
  margin: 0 1.5rem;
}

ul > li > a {
  color: white;
  font-size: 2rem;
}

ul > li > a:hover {
  color: pink;
  transform: rotate(360deg);
  transition: ease-in-out .5s;
}

@media screen and (max-width: 600px) {
  .footer-div > h3 {
    text-align: center;
  }

  ul {
    width: 100%;
    text-align: center;
    margin-left: -9%;
  }
}

.footer-p {
  margin-top: 10rem;
}

.footer-p > p {
  display: block;
  text-align: center;
  font-size: 20px;
}